@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #C7C7C7;
  color: white;
}

/* ::selection {
  color: #a9a9a9;
} */

@layer base {
  body {
    @apply cursor-custom-default;
  }

  span {
    @apply cursor-custom-text;
  }

  a {
    @apply cursor-custom-link;
  }

  .cursor-custom-card {
    cursor: url('/daniely/cursor/default.svg'), pointer;
  }

  .cursor-custom-default {
    cursor: url('/daniely/cursor/default.svg'), auto;
  }

  .cursor-custom-text {
    cursor: url('/daniely/cursor/text.svg'), text;
  }

  .cursor-custom-link {
    cursor: url('/daniely/cursor/link.svg'), pointer;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border-radius: 6px;
  border: 3px solid #f4f4f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}